@import "tailwindcss";
@plugin "tailwindcss-animate";

/* Custom base styles */
:root {
  color-scheme: light dark;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: rgb(18, 18, 20);
  color: white;
}